<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | TotemTech</title>
    <link rel="stylesheet" href="/css/dashboard/estatisticas.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="../img/logo.png" type="image/png">
</head>

<body>
    <div class="menuLateral">
        <div class="boxSoon">
            <img src="../../img/Logo-Preta.png">
            <span>TotemTech</span>
        </div>


        <div class="boxUser">
            <span class="nameUser" id="spanNameUser">
                Usuário
            </span>
            <span class="nameCompany" id="spanNameCompany">
                nome da empresa
            </span>

        </div>

        <ul class="optionMenu" id="boxOptionMenu">
            <li class="totens">
                <a href="/dashboard">Totens</a>
            </li>
            <li class="gerenciar">
                <a href="/dashboard/gerenciarT">Gerenciar Totens</a>
            </li>
            <li class="historico">
                <a href="/dashboard/historico">Histórico</a>
            </li>
            <li class="estatisticas">
                <a href="/dashboard/estatisticas">Estatísticas</a>
            </li>
            <li class="gerenciarU" id="screenGerenciarUsuarioLi">
                <a href="/dashboard/gerenciarU">Gerenciar Usuários</a>
            </li>
        </ul>

        <div class="boxExit" id="btn_sair">
            <img src="../../img/sair (1).png">
            <span>Sair</span>
        </div>

    </div>

    <div class="dashboard" id="boxDashboard">

        <h1 class="title">Estatísticas</h1>

        <div class="boxStatistics">

            <div class="left">
                <h3>Total de interrupções nos últimos 7 dias</h3>

                <div class="chartLinha">
                    <canvas id="graficoBar"></canvas>
                </div>
    
            </div>
            
            <div class="right">
                <p>Selecione o mês: </p>

                <ul>
                    <li>Janeiro 1/4</li>
                    <li>Janeiro 2/4</li>
                    <li>Janeiro 3/4</li>
                    <li>Janeiro 4/4</li>
                    <li>Fevereiro 1/4</li>
                    <li>Fevereiro 2/4</li>
                    <li>Fevereiro 3/4</li>
                    <li>Fevereiro 4/4</li>
                    <li>Março 1/4</li>
                    <li>Março 2/4</li>
                    <li>Março 3/4</li>
                    <li>Março 4/4</li>
                    <li>Abril 1/4</li>
                    <li>Abril 2/4</li>
                    <li>Abril 3/4</li>
                    <li>Abril 4/4</li>
                    <li>Maio 1/4</li>
                    <li>Maio 2/4</li>
                    <li>Maio 3/4</li>
                    <li>Maio 4/4</li>
                    <li>Junho 1/4</li>
                    <li>Junho 2/4</li>
                    <li>Junho 3/4</li>
                    <li>Junho 4/4</li>
                    <li>Julho 1/4</li>
                    <li>Julho 2/4</li>
                    <li>Julho 3/4</li>
                    <li>Julho 4/4</li>
                    <li>Agosto 1/4</li>
                    <li>Agosto 2/4</li>
                    <li>Agosto 3/4</li>
                    <li>Agosto 4/4</li>
                    <li>Setembro 1/4</li>
                    <li>Setembro 2/4</li>
                    <li>Setembro 3/4</li>
                    <li>Setembro 4/4</li>
                    <li>Outubro 1/4</li>
                    <li>Outubro 2/4</li>
                    <li>Outubro 3/4</li>
                    <li>Outubro 4/4</li>
                    <li>Novembro 1/4</li>
                    <li>Novembro 2/4</li>
                    <li>Novembro 3/4</li>
                    <li>Novembro 4/4</li>
                    <li>Dezembro 1/4</li>
                    <li>Dezembro 2/4</li>
                    <li>Dezembro 3/4</li>
                    <li>Dezembro 4/4</li>
                </ul>

            </div>
        </div>


        <div class="lineInterruptions">

            <div class="boxInterruptions">

                <div class="left">
                    <div class="chartPizza">
                        <canvas id="graficoPizza"></canvas>
                    </div>
                </div>
    
                <div class="right">
                    <h4>Total de interrupções por componentes</h4>
                    <div class="line">
                        <span id="componenteCpu">Cpu: 12</span>
                        <span id="componenteDisco">Disco: 2</span>
                    </div>
                    <div class="line">
                        <span id="componenteMemoria">Memória: 4</span>
                        <span id="componenteRede">Rede: 1</span>
                    </div>
                </div>
            </div>

            <div class="boxOptionsTotem">
                <h3>Escolha um totem</h3>

                <ul>
                    <li>Geral</li>
                    <li>Totem 1</li>
                    <li>Totem 2</li>
                    <li>Totem 3</li>
                    <li>Totem 4</li>
                    <li>Totem 5</li>
                    <li>Totem 6</li>
                    <li>Totem 1</li>
                    <li>Totem 2</li>
                    <li>Totem 3</li>
                    <li>Totem 4</li>
                    <li>Totem 5</li>
                    <li>Totem 6</li>
                    <li>Totem 1</li>
                    <li>Totem 2</li>
                    <li>Totem 3</li>
                    <li>Totem 4</li>
                    <li>Totem 5</li>
                    <li>Totem 6</li>
                </ul>
            </div>
        </div>
        
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/dashboard/estatisticas.js"></script>

</html>