<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | TotemTech</title>
    <link rel="stylesheet" href="/css/dashboard/gerenciarTotens.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="../img/logo.png" type="image/png">
</head>

<body>
    <div class="navBar">
        <div class="perfil">
            <span class="material-symbols-outlined">
                account_circle
            </span>
            <p>Olá, Nome</p>
        </div>

        <a href="/dashboard"><img src="/img/logo.png" width="75px"></a>

        <button class="btn-sair" id="btn_sair">Sair</button>
    </div>

    <div class="dashboard">
        <div class="menu-lateral">

            <ul class="menu">
                <li>
                    <a href="/dashboard">Totens</a>
                </li>
                <li>
                    <a href="/dashboard/gerenciarT">Gerenciar Totem</a>
                </li>
                <li>
                    <a href="/dashboard/historico">Histórico</a>
                </li>
                <li>
                    <a href="/dashboard/estatisticas">Estatísticas</a>
                </li>
            </ul>

        </div>

        <div class="homePage">

            <div class="linha">
                <button onclick="abrirGerenTotem()">Gerenciar Totens</button>
                <button onclick="abrirAddTotem()">Adicionar Totem</button>
            </div>

            <div class="mensagemAlerta" id="mensagemAlerta"></div>

            <ul class="listaTotem" id="listaTotemDiv">

            </ul>

            <div class="telaAdicionar" id="telaAdicionarDiv">

                <h3>Adicionar Totem</h3>
                <p>Nome: <input type="text" id="inputNovoNomeTotem" required></p>
                <p>Login: <input type="email" id="inputNovoEmailTotem" required></p>
                <p>Senha: <input type="text" id="inputNovoSenhaTotem" required></p>

                <ul class="listaDesempenho">

                    <li>
                        <input type="checkbox" id="checkboxCPU"><span class="textoSpan">CPU</span>
                    </li>

                    <li>
                        <input type="checkbox" id="checkboxRede"><span class="textoSpan">REDE</span>
                    </li>

                    <li>
                        <input type="checkbox" id="checkboxRAM"><span class="textoSpan">Memória RAM</span>
                    </li>

                    <li>
                        <input type="checkbox" id="checkboxDisco"><span class="textoSpan">Disco</span>
                    </li>

                </ul>

                <button type="submit" onclick="addTotem()">Salvar</button>

            </div>

            <div class="telaEditar" id="telaEditarDiv">

                <h3>Editar Totem <button onclick="fecharEditarTotem()">X</button></h3>

                <p id="linhaEditarTotemNome">Nome:
                    <span class="spanTotem" id="nomeTotemSpan"></span>
                </p>

                <p id="linhaEditarTotemEmail">Email:
                    <span class="spanTotem" id="emailTotemSpan"></span>
                </p>

                <p id="linhaEditarTotemSenha">Senha:
                    <span class="spanTotem" id="senhaTotemSpan"></span>
                </p>

                <ul class="listaDesempenho">

                    <li>
                        <input type="checkbox" id="checkboxTotemCPU">
                        <span class="textoSpan" id="textoSpanCpu" >CPU</span>
                    </li>

                    <li>
                        <input type="checkbox" id="checkboxTotemRede">
                        <span class="textoSpan" id="textoSpanRede" >REDE</span>
                    </li>

                    <li>
                        <input type="checkbox" id="checkboxTotemRAM">
                        <span class="textoSpan" id="textoSpanRam" >Memória RAM</span>
                    </li>

                    <li>
                        <input type="checkbox" id="checkboxTotemDisco">
                        <span class="textoSpan" id="textoSpanDisco" >Disco</span>
                    </li>

                </ul>

                <div class="linha">

                    <button type="submit" onclick="editarValores()">Editar</button>
                    <button type="submit" onclick="salvarDadoNovos()">Salvar</button>

                </div>

            </div>


            <div class="telaInfo" id="telaInfoDiv">
                <h3>Informações do Totem
                    <button onclick="fecharInformacao()">X</button>
                </h3>

                <p id="infoTotemNome">Nome:
                    <span class="spanTotem" id="nomeTotemSpanInfo">teste</span>
                </p>

                <p id="infoTotemEmail">Email:
                    <span class="spanTotem" id="emailTotemSpanInfo">teste@gmail.com</span>
                </p>

                <p id="infoTotemSenha">Senha:
                    <span class="spanTotem" id="senhaTotemSpanInfo">**********</span>
                </p>

                <ul class="listaDesempenho">

                    <li>
                        <input type="checkbox" id="checkboxTotemCPUInfo">
                        <span class="textoSpan">CPU</span>
                    </li>

                    <li>
                        <input type="checkbox" id="checkboxTotemRedeInfo">
                        <span class="textoSpan">REDE</span>
                    </li>

                    <li>
                        <input type="checkbox" id="checkboxTotemRAMInfo">
                        <span class="textoSpan">Memória RAM</span>
                    </li>

                    <li>
                        <input type="checkbox" id="checkboxTotemDiscoInfo">
                        <span class="textoSpan">Disco</span>
                    </li>

                </ul>
            </div>

        </div>

    </div>
</body>
<script src="/js/dashboard/gerenciarTotens.js"></script>

</html>