<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | TotemTech</title>
    <link rel="stylesheet" href="/css/dashboard/gerenciarTotens.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="../img/logo.png" type="image/png">
</head>

<body>
    <div class="menuLateral">
        <div class="boxSoon">
            <img src="../../img/Logo-Preta.png">
            <span>TotemTech</span>
        </div>


        <div class="boxUser">
            <span class="nameUser" id="spanNameUser">
                Usuário
            </span>
            <span class="nameCompany" id="spanNameCompany">
                nome da empresa
            </span>

        </div>

        <ul class="optionMenu" id="boxOptionMenu">
            <li class="totens">
                <a href="/dashboard">Totens</a>
            </li>
            <li class="gerenciar">
                <a href="/dashboard/gerenciarT">Gerenciar Totens</a>
            </li>
            <li class="historico">
                <a href="/dashboard/historico">Histórico</a>
            </li>
            <li class="estatisticas">
                <a href="/dashboard/estatisticas">Estatísticas</a>
            </li>
            <li class="gerenciarU" id="screenGerenciarUsuarioLi">
                <a href="/dashboard/gerenciarU">Gerenciar Usuários</a>
            </li>
        </ul>

        <div class="boxExit" id="btn_sair">
            <img src="../../img/sair (1).png">
            <span>Sair</span>
        </div>

    </div>

    <div class="dashboard" id="boxDashboard">

        <h1 class="title">Gerenciar Totens</h1>

        <div class="line">
            <span>Lista de Totens Cadastrado</span>
            <button onclick="abrirGerenTotem()">Gerenciar Totens</button>
            <button onclick="abrirAddTotem()">Adicionar Totem</button>
        </div>

        <div class="bigBox" id="bigBoxDiv">

            <ul class="listTotem" id="listTotemDiv"></ul>

            <div class="boxTotal">

                <h1>Total de totens</h1>
                <div class="circleFundo">
                    <div class="circle">
                        <span id="spanNumberTotal">0</span>
                    </div>
                </div>

            </div>

        </div>

        <div class="bigBoxAdd" id="screenAddDiv">
            <div class="screenAdd">

                <h3>Adicionar Totem</h3>

                <p>
                    <input type="text" id="inputNovoNomeTotem" placeholder="Nome:* " required>
                    <input type="email" id="inputNovoEmailTotem" placeholder="Login:* " required>
                </p>

                <p>
                    <input type="text" id="inputNovoSenhaTotem" placeholder="Senha:* " required>
                    <span>
                        Sistema Operacional:* <select name="SistemaOperacional" id="inputNovoSistemaOperacionalTotem">
                            <option value="Windows">Windows</option>
                            <option value="Linux">Linux</option>
                        </select>
                    </span>
                </p>

                <p>
                    <input type="text" id="inputNovoTipoDisco1Totem" placeholder="Tipo do Disco*">
                    <input type="number" id="inputNovoTotalDisco1Totem" placeholder="Capacidade do disco*">
                </p>

                <span class="spanDisco" id="campoDiscoP"></span>

                <p>
                    <button onclick="addDisco()">
                        <img src="../../img/sinal-de-adicao.png">
                       <span> Adicionar mais um disco</span>
                    </button>
                </p>

                <p>
                    <input type="text" id="inputNovoTipoRamTotem" placeholder="Tipo de memória RAM*">
                    <input type="number" id="inputNovoTotalRamTotem" placeholder="Quantidade de memória RAM*">
                </p>        

             
                <button type="submit" onclick="addTotem()">Salvar</button>

            </div>

            <div class="totemCasca">
                <div class="telaTotem" id="home">
                    <img src="/img/logo.png">
                </div>
            </div>
        </div>

        <div class="bigBoxEdit" id="screenEditDiv">
            <div class="screenEdit">

                <h3>Informações Totem <button onclick="fecharEditarTotem()">X</button></h3>

                <span>
                    <p id="lineEditTotemNome">Nome:
                        <span class="spanTotem" id="nomeTotemSpan"></span>
                    </p>

                    <p id="lineEditTotemEmail">Email:
                        <span class="spanTotem" id="emailTotemSpan"></span>
                    </p>

                </span>

                <span>
                    <p id="lineEditTotemSenha">Senha:
                        <span class="spanTotem" id="senhaTotemSpan"></span>
                    </p>

                    <p id="lineEditTotemSistemaOperacional">Sistema Operacional:
                        <span class="spanTotem" id="sistemaOperacionalTotemSpan"></span>
                    </p>

                </span>

                <div  class="listEditDisco" id="listEditDiscoDiv"></div>

                <span>
                    <p id="lineEditTotemTipoRam">Tipo memória Ram:
                        <span class="spanTotem" id="tipoRamSpanTotem"></span>
                    </p>
                    <p id="lineEditTotemTotalRam">Total memória Ram:
                        <span class="spanTotem" id="totalRamSpanTotem"></span>
                    </p>
                </span>

              
                <div class="line" id="lineButtonDiv">

                    <button type="submit" onclick="editarValores()">Editar</button>
                    <button type="submit" onclick=" updateTotem()">Salvar</button>

                </div>

            </div>

            <div class="totemCasca">
                <div class="telaTotem" id="home">
                    <img src="/img/logo.png">
                </div>
            </div>
        </div>

    </div>
    <div class="alertMessage" id="alertMessage"></div>
</body>
<script src="/js/dashboard/gerenciarTotens.js"></script>

</html>