<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | TotemTech</title>
    <link rel="stylesheet" href="/css/dashboard/historico.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="../img/logo.png" type="image/png">
</head>

<body>
    <div class="menuLateral">
        <div class="boxSoon">
            <img src="../../img/Logo-Preta.png">
            <span>TotemTech</span>
        </div>


        <div class="boxUser">
            <span class="nameUser" id="spanNameUser">
                Usuário
            </span>
            <span class="nameCompany" id="spanNameCompany">
                nome da empresa
            </span>

        </div>

        <ul class="optionMenu" id="boxOptionMenu">
            <li class="totens">
                <a href="/dashboard">Totens</a>
            </li>
            <li class="gerenciar">
                <a href="/dashboard/gerenciarT">Gerenciar Totem</a>
            </li>
            <li class="historico">
                <a href="/dashboard/historico">Histórico</a>
            </li>
            <li class="estatisticas">
                <a href="/dashboard/estatisticas">Estatísticas</a>
            </li>
        </ul>

        <div class="boxExit" id="btn_sair">
            <img src="../../img/sair (1).png">
            <span>Sair</span>
        </div>

    </div>

    <div class="dashboard" id="boxDashboard">

        
        <h1 class="title">Histórico</h1>

        <div class="bigBox" id="bigBoxDiv">

            <div class="boxSmall">

                <h1>Total de interrupções</h1>
                <div class="circleFundo">
                    <div class="circle">
                        <span id="spanNumberTotal">24</span>
                    </div>
                </div>
                
                <h6>Com base nos últimos 30 dias.</h6>

                <p>Motivos:</p>

                <span class="spanComponente" id="spanTotalCpu">Cpu: 4</span>
                <span class="spanComponente" id="spanTotalDisco">Disco: 3</span>
                <span class="spanComponente" id="spanTotalRam">Memória: 2</span>
                <span class="spanComponente" id="spanTotalRede">Rede: 1</span>
            </div>

            <div class="tableBox" id="tableBoxDiv">
                <div class="tituloDetalhe">Detalhes</div>

                <div class="lineDescription">
                    <span class="description">Nome</span>
                    <span class="description">Horário</span>
                    <span class="description">Motivo</span>
                </div>

                <div class="lineDark">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>

                
                <div class="lineWhite">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>

                <div class="lineDark">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>
                
                <div class="lineWhite">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>
                     
                <div class="lineDark">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>

                <div class="lineWhite">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>

                     
                <div class="lineDark">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>
                
                <div class="lineWhite">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>

                <div class="lineDark">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>

                <div class="lineWhite">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>
                     
                <div class="lineDark">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>

                <div class="lineWhite">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>
                     
                <div class="lineDark">
                    <span class="dado">Totem 1</span>
                    <span class="dado">26/11/2023 14:23:32</span>
                    <span class="dado">Cpu</span>
                </div>

            </div>

        </div>
    </div>

</body>

<script src="/js/dashboard/historico.js"></script>

</html>