<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | TotemTech</title>
    <link rel="stylesheet" href="/css/dashboard/totens.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="../img/logo.png" type="image/png">
</head>

<body>
    <div class="menuLateral">
        <div class="boxSoon">
            <img src="../../img/Logo-Preta.png">
            <span>TotemTech</span>
        </div>


        <div class="boxUser">
            <span class="nameUser" id="spanNameUser">
                Usuário
            </span>
            <span class="nameCompany" id="spanNameCompany">
                nome da empresa
            </span>

        </div>

        <ul class="optionMenu" id="boxOptionMenu">
            <li class="totens">
                <a href="/dashboard">Totens</a>
            </li>
            <li class="gerenciar">
                <a href="/dashboard/gerenciarT">Gerenciar Totens</a>
            </li>
            <li class="historico">
                <a href="/dashboard/historico">Histórico</a>
            </li>
            <li class="estatisticas">
                <a href="/dashboard/estatisticas">Estatísticas</a>
            </li>
            <li class="gerenciarU" id="screenGerenciarUsuarioLi">
                <a href="/dashboard/gerenciarU">Gerenciar Usuários</a>
            </li>
        </ul>

        <div class="boxExit" id="btn_sair">
            <img src="../../img/sair (1).png">
            <span>Sair</span>
        </div>

    </div>

    <div class="dashboard" id="boxDashboard">

        <div class="boxTotalTotem" id="boxTotalTotem">
            <div class="line">
                <button onclick="totalTotemFunction('fechar')">X</button>
            </div>
            <h2>Todos os totens</h2>
            <div id="boxListTotaTotem" class="boxListTotalTotem">
                <div class="lineTotem">
                    <div class="totemAmarelo" id="boxTotem">
                        <img src="../../img/smartphone.png">
                        <span id="spanNameTotem">Totem 1</span>
                    </div>
                    <div class="totemVermelho" id="boxTotem">
                        <img src="../../img/smartphone.png">
                        <span id="spanNameTotem">Totem 2</span>
                    </div>
                    <div class="totemVerde" id="boxTotem">
                        <img src="../../img/smartphone.png">
                        <span id="spanNameTotem">Totem 3</span>
                    </div>
                    <div class="totemVerde" id="boxTotem">
                        <img src="../../img/smartphone.png">
                        <span id="spanNameTotem">Totem 4</span>
                    </div>
                </div>

                <div class="lineTotem">
                    <div class="totemVerde" id="boxTotem">
                        <img src="../../img/smartphone.png">
                        <span id="spanNameTotem">Totem 5</span>
                    </div>
                    <div class="totemVerde" id="boxTotem">
                        <img src="../../img/smartphone.png">
                        <span id="spanNameTotem">Totem 6</span>
                    </div>
                    <div class="totemVerde" id="boxTotem">
                        <img src="../../img/smartphone.png">
                        <span id="spanNameTotem">Totem 7</span>
                    </div>
                    <div class="totemVerde" id="boxTotem">
                        <img src="../../img/smartphone.png">
                        <span id="spanNameTotem">Totem 8</span>
                    </div>
                </div>

                <div class="lineTotem">
                    <div class="totemVerde" id="boxTotem">
                        <img src="../../img/smartphone.png">
                        <span id="spanNameTotem">Totem 9</span>
                    </div>
                    <div class="totemVerde" id="boxTotem">
                        <img src="../../img/smartphone.png">
                        <span id="spanNameTotem">Totem 10</span>
                    </div>
                    <div class="totemVerde" id="boxTotem">
                        <img src="../../img/smartphone.png">
                        <span id="spanNameTotem">Totem 11</span>
                    </div>
                    <div class="totemVerde" id="boxTotem">
                        <img src="../../img/smartphone.png">
                        <span id="spanNameTotem">Totem 12</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="lineTotens">

            <div class="totem" id="boxTotem" onclick="totalTotemFunction('abrir')">
                <span id="spanNameTotem">Ver todos</span>
            </div>

            <div class="totemAmarelo" id="boxTotem">
                <img src="../../img/smartphone.png">
                <span id="spanNameTotem">Totem 1</span>
            </div>


            <div class="totemVermelho" id="boxTotem">
                <img src="../../img/smartphone.png">
                <span id="spanNameTotem">Totem 1</span>
            </div>

            <div class="totemVerde" id="boxTotem">
                <img src="../../img/smartphone.png">
                <span id="spanNameTotem">Totem 1</span>
            </div>


            <div class="totemVerde" id="boxTotem">
                <img src="../../img/smartphone.png">
                <span id="spanNameTotem">Totem 1</span>
            </div>

            <div class="totemVerde" id="boxTotem">
                <img src="../../img/smartphone.png">
                <span id="spanNameTotem">Totem 1</span>
            </div>

            <div class="totemVerde" id="boxTotem">
                <img src="../../img/smartphone.png">
                <span id="spanNameTotem">Totem 1</span>
            </div>

            <div class="totemVerde" id="boxTotem">
                <img src="../../img/smartphone.png">
                <span id="spanNameTotem">Totem 1</span>
            </div>

            <div class="totemVerde" id="boxTotem">
                <img src="../../img/smartphone.png">
                <span id="spanNameTotem">Totem 1</span>
            </div>

            <div class="totemVerde" id="boxTotem">
                <img src="../../img/smartphone.png">
                <span id="spanNameTotem">Totem 1</span>
            </div>

        </div>

        <h1 id="h1TituloTotem" class="tituloTotem">
            Totem 1
        </h1>

        <div class="boxComponent">

            <div class="boxCpu" onclick="abrirGrafico('cpu')">
                <img src="../../img/torre-da-cpu.png">
                <h3>Cpu:</h3>
                <span id="situacaoAtualCpu">47%</span>
            </div>

            <div class="boxDisco" onclick="abrirGrafico('disco')">
                <img src="../../img/drive-de-disco-rigido.png">
                <h3>Disco:</h3>
                <span id="situacaoAtualDisco">79%</span>
            </div>

            <div class="boxMemoria" onclick="abrirGrafico('ram')">
                <img src="../../img/ram.png">
                <h3>Memória:</h3>
                <span id="situacaoAtualRam">84%</span>
            </div>

            <div class="boxRede" onclick="abrirGrafico('rede')">
                <img src="../../img/rede.png">
                <h3>Rede:</h3>
                <span id="situacaoAtualRede">12MB/s</span>
            </div>


        </div>

        <div class="boxGlobal" id="divBoxGlobal">

            <div class="boxLeftCpu" id="divBoxGrafico">

                <div class="line" id="boxLineDescricao">
                    Monitoramento da Cpu nas últimas 24 horas em %
                </div>

                <div class="microBox">
                    <span class="situacao" id="spanSituacaoCPU">Situação Atual: 50%</span>
                    <div class="localChart" id="boxLocalChart">
                        <canvas class="graficoCPU" id="graficoCPU"></canvas>
                    </div>
                </div>

            </div>

            <div class="boxRight" id="boxRightDiv">
                <div class="line">
                    <div class="circuleGreen"></div> Bom
                </div>
                <span class="descricao" id="boxDescricaoBom">Menos de 79%. Indica que a CPU está trabalhando sem sobrecarga, com folga para lidar com picos de demanda.</span>


                <div class="line">
                    <div class="circuleYellow"></div>Médio
                </div>
                <span class="descricao" id="boxDescricaoMedio">Entre 80% e 90%. É sinal de que a CPU está sendo utilizada com eficiência, mas pode haver lentidão em momentos de pico.
                </span>

                <div class="line">
                    <div class="circuleRed"></div>Ruim
                </div>
                <span class="descricao" id="boxDescricaoRuim">Acima de 90%. Indica sobrecarga da CPU, resultando em lentidão, travamentos e instabilidade do sistema.
                </span>

            </div>
        </div>

    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../../js/dashboard/totens.js"></script>