*{
    padding: 0%;
    margin: 0%;
    box-shadow: none;
}

.telaPrincipal{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.telaPrincipal .navBar{
    background-color: #9ADFEE;
    height: 17vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telaPrincipal .navBar h1{
    color: white;
    margin: 0%;
    padding: 0% 2% 1.5% 2%;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    border-bottom: 4px solid #203FAB;
}

.telaPrincipal .textoComum{
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 3%;
}

.telaPrincipal .textoComum b{
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin: 2% 0;
}

.telaPrincipal h1{
    width: fit-content;
    height: fit-content;
    margin: 0%;
    padding: 0 2% 2% 2%;
    border-bottom: 4px solid #203FAB;
    font-size: 25px;
}

.telaPrincipal .botaoCadastro{
    width: fit-content;
    height: fit-content;
    margin: 1%;
    padding: 1.5% 4%;
    background-color: #D9D9D9;
    color: #0073CF;
    cursor: pointer;
    border-radius: 30px;
    font-size: 22px ;
    word-break: 500;
}