<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | TotemTech</title>
    <link rel="stylesheet" href="../public/css/dashHistorico.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="telaPrincipal" id="divTelaPrincipal">

        <div class="navBar">
            <div class="perfil">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
                <!-- <img src="./assets/dashboard/user-solid.svg" alt="" style="width: 35px;"> -->
                <p>Olá, Nome</p>
            </div>

            <a href="./dashTotens.html"><img src="../public/img/logo.png" width="75px"></a>

            <button class="btn-sair"><a href="./index.html">Sair</a></button>
        </div>

        <div class="dashboard">
            <div class="menu-lateral">

                <ul class="menu">
                    <li>
                        <a href="./dashTotens.html">Totens</a>
                    </li>
                    <li>
                        <a href="./dashHistorico.html">Histórico</a>
                    </li>
                    <!-- <li>
                        <a href="./dashPerfil.html">Usuário</a>
                    </li> -->
                    <li>
                        <a href="./dashEstatisticas.html">Estatísticas</a>
                    </li>
                </ul>

            </div>

            <div class="telaHistorico">
                <b>Histórico</b>

                <div class="filtros-historico">
                    <select name="" id="selecao-filtro">
                        <option value="totens">Todos os totens</option>
                        <option value="totem1">Totem 1</option>
                        <option value="totem2">Totem 2</option>
                        <option value="totem3">Totem 3</option>
                        <option value="totem4">Totem 4</option>
                    </select>

                    <div class="calendario">
                        <label for="data">Selecione uma data:</label>
                        <input type="date" id="data" name="data">
                        <button onclick="filtrarDados()">Filtrar</button>
                    </div>

                    <button>Fazer download</button>
                </div>

                <div class="tabela-historico">
                    
                    <div class="legenda">
                        <span class="cpu">CPU</span>
                        <span class="ram">RAM</span>
                        <span class="disco">Disco</span>
                        <span class="rede">Rede</span>
                    </div>


                    <table id="tabela-dados">
                        <thead>
                            <tr>
                                <th>Totem</th>
                                <th>Horário</th>
                                <th class="cpu">Utilização</th>
                                <th class="cpu">Processos</th>
                                <th class="ram">Disponível</th>
                                <th class="disco">Tempo médio de resposta</th>
                                <th class="rede">Dowload</th>
                                <th class="rede">Upload</th>
                            </tr>
                        </thead>
                        <tbody id="corpo_tabela">
                            <tr id="totem1">
                                <td>Totem 1</td>
                                <td>2024-03-14 08:00:00</td>
                                <td>35%</td>
                                <td>60</td>
                                <td>8 GB</td>
                                <td>5 ms</td>
                                <td>45 Mbps</td>
                                <td>25 Mbps</td>
                            </tr>

                            <tr>
                                <td>Totem 2</td>
                                <td>2024-03-14 08:30:00</td>
                                <td>25%</td>
                                <td>40</td>
                                <td>7 GB</td>
                                <td>4 ms</td>
                                <td>55 Mbps</td>
                                <td>18 Mbps</td>
                            </tr>

                            <tr>
                                <td>Totem 3</td>
                                <td>2024-03-14 08:00:00</td>
                                <td>30%</td>
                                <td>50</td>
                                <td>8 GB</td>
                                <td>5 ms</td>
                                <td>50 Mbps</td>
                                <td>20 Mbps</td>
                            </tr>

                            <tr>
                                <td>Totem 4</td>
                                <td>2024-03-14 08:45:00</td>
                                <td>40%</td>
                                <td>55</td>
                                <td>9 GB</td>
                                <td>7 ms</td>
                                <td>60 Mbps</td>
                                <td>22 Mbps</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

    </div>

</body>

</html>