<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | TotemTech</title>
    <link rel="stylesheet" href="/css/dashTotens.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        <link rel="icon" href="../img/logo.png" type="image/png">
</head>

<body>
    <div class="telaPrincipal" id="divTelaPrincipal">

        <div class="navBar">
            <div class="perfil">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
                <!-- <img src="/assets/dashboard/user-solid.svg" alt="" style="width: 35px;"> -->
                <p>Olá, Nome</p>
            </div>

            <a href="/dashboard"><img src="/img/logo.png" width="75px"></a>

            <button class="btn-sair" id="btn_sair">Sair</button>
        </div>

        <div class="dashboard">
            <div class="menu-lateral">

                <ul class="menu">
                    <li>
                        <a href="/dashboard">Totens</a>
                    </li>
                    <li>
                        <a href="/dashboard/gerenciarT">Gerenciar Totem</a>
                    </li> 
                    <li>
                        <a href="/dashboard/historico">Histórico</a>
                    </li>
                    <li>
                        <a href="/dashboard/estatisticas">Estatísticas</a>
                    </li>
                </ul>

            </div>

            <div class="homePage">
                <div class="square-totems" id="square-totems">

                    <div class="square-circles">
                        <div class="square">TOTEM 1</div>
                        <div class="circle" style="background-color: brown; cursor: pointer;" id="circle-legenda"></div>
                    </div>

                    <div class="square-circles">
                        <div class="square">TOTEM 2</div>
                        <div class="circle" style="background-color: brown;"></div>
                    </div>

                    <div class="square-circles">
                        <div class="square">TOTEM 3</div>
                        <div class="circle" style="background-color: burlywood;"></div>
                    </div>

                    <div class="square-circles">
                        <div class="square">TOTEM 4</div>
                        <div class="circle" style="background-color: green;"></div>
                    </div>

                </div>

                <div class="legenda-help" id="legenda-help">
                    <div class="legenda-cores">
                        <div class="cores">
                            <div class="circle" style="background-color: brown;"></div>
                            <p>Crítico</p>
                        </div>

                        <div class="cores">
                            <div class="circle" style="background-color: burlywood;"></div>
                            <p>Alerta</p>
                        </div>

                        <div class="cores">
                            <div class="circle" style="background-color: green;"></div>
                            <p>Normal</p>
                        </div>
                    </div>
                </div>


                <div class="grafico">
                    <div class="filtro">
                        <select name="" id="selecao-filtro">
                            <option value="totem1">Totem 1</option>
                            <option value="totem2">Totem 2</option>
                            <option value="totem2">Totem 3</option>
                            <option value="totem2">Totem 4</option>
                        </select>
                    </div>

                    <div class="chart">
                        <canvas id="graficoTotem"></canvas>
                    </div>

                </div>


            </div>

        </div>

    </div>

</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/dashTotens.js"></script>