<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/indexAntigo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        <link rel="icon" href="../img/logo.png" type="image/png">
</head>

<body>
    <div class="telaPrincipal" id="divTelaPrincipal">
        <div class="navBar">

            <!--Versão Mobile-->
            <input type="checkbox" id="menu-btn" class="menuBtn">
            <label class="menu-btn" for="menu-btn"><span id="linha1"></span><span
                    id="linha2"></span><span></span></label>

            <div>
                <img src="/img/logo.png" height="70hv">
                <h1 onclick="abrirHome1()" class="mensagem">TOTEM TECH</h1>
            </div>

            <!--Versão Desktop-->
            <ul class="itensNav">
                <li><a  onclick="scrollToSection('home')">Home</a></li>
                <li><a  onclick="scrollToSection('sobreNos')">Sobre Nós</a></li>
                <li><a  onclick="scrollToSection('nossasSolucoesD')">Nossas soluções</a></li>
                <li><a  onclick="scrollToSection('clientes')">Clientes</a></li>
                <li><a href="/cadastro.html">Cadastre-se</a></li>
            </ul>

            <a class="login" href="/telaLogin.html">LOGIN</a>
        </div>


        <!--Versão Mobile-->
        <div class="itensNavMobile">
            <ul>
                <li><a  onclick="scrollToSection('home')">Home</a></li>
                <li><a  onclick="scrollToSection('sobreNos')">Sobre Nós</a></li>
                <li><a  onclick="scrollToSection('nossasSolucoesM')">Nossas soluções</a></li>
                <li><a  onclick="scrollToSection('clientes')">Clientes</a></li>
                <li><a href="/cadastro.html">Cadastre-se</a></li>
            </ul>
        </div>
        <div class="caixa" id="home">
            <img src="/img/totem2.png" width="55%">
            <div class="textoComum">
                <b>O Melhor Suporte para o seu
                    Negócio</b>
                <p>Oferecemos suporte abrangente, incluindo manutenção preventiva, diagnóstico, atualizações de
                    software,
                    reparos físicos e suporte remoto, adaptado às necessidades individuais de cada cliente,
                    independentemente do tamanho ou complexidade do sistema.</p>
            </div>
        </div>
        <br>
        <br>

        <h1 id="sobreNos" class="sobreNos">Sobre Nós</h1>
        <div class="caixa2">
            <img src="/img/totem-mc.jpg" width="90%">
            <div class="textoComumSobreNos">
                <p> Na Totem Tech, nos especializamos em fornecer suporte técnico para totens de autoatendimento. Com
                    uma
                    equipe
                    altamente qualificada e comprometida, estamos prontos para resolver qualquer problema, garantindo a
                    operação
                    eficiente dos seus totens. Nosso foco é na qualidade e na satisfação do cliente. Conte conosco para
                    otimizar
                    seus sistemas de autoatendimento e elevar a experiência do cliente ao próximo nível.
                </p>
                <a href="/cadastro.html" class="botaoCadastro">Cadastre-se</a>
            </div>
        </div>

        <!--Versão Mobile-->
        <div class="caixa3" id="nossasSolucoesM">
            <h1  class="nossasSolucoes">Nossas Soluções</h1>
            <div class="textoComum">
                <img src="/img/totem-pedido.webp" width="80%">
                <br>
                Nossos serviços de suporte abrangem uma ampla: gama de áreas:<br>
            </div>
            <div class="tableSolucoes">
                <div class="linha">
                    <div class="circulo01">Manutenção Preventiva</div>
                    <div class="circulo02">Diagnóstico De Problemas</div>
                </div>
                <div class="linha">
                    <div class="circulo02">Suporte Remoto</div>
                    <div class="circulo01">Atualizações De Software</div>
                </div>
            </div>
            <br>
        </div>

        <!--Versão Desktop-->
        <div class="caixa3Desktop" id="nossasSolucoesD">
            <div class="caixaInterna3">
                <img src="/img/totem-pedido.webp" width="80%">
                <div class="textoComum">
                    <h1  class="nossasSolucoes">Nossas Soluções</h1>
                    <p>Nossos serviços de suporte abrangem uma ampla: gama de áreas:</p>
                </div>
            </div>

            <div class="tableSolucoes">
                <div class="circulo01">Manutenção Preventiva</div>
                <div class="circulo02">Diagnóstico De Problemas</div>
                <div class="circulo01">Atualizações De Software</div>
                <div class="circulo03">Suporte Remoto</div>
            </div>
            <div class="linha">
                <a href="/cadastro.html" class="botaoCadastro">Cadastre-se</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <a href="/cadastro.html" class="botaoCadastro">Cadastre-se</a>
        <br>
        <br>

        <div id="clientes" class="caixa4">
            <h1> Clientes</h1>
            <br>
            <div class="textoComum">
                No coração do nosso negócio, a dedicação aos nossos clientes é a pedra angular que molda a experiência
                única
                que oferecemos. Estamos empenhados em proporcionar não apenas soluções inovadoras de totem, mas também
                um
                serviço excepcional que transcende as expectativas.
            </div>
            <div class="table">
                <div class="linha">
                    <div><img src="/img/mcdonalds.png" height="100%"></div>
                    <div><img src="/img/burguer-king.png" height="100%"></div>
                </div>
                <div class="linha">
                    <div><img src="/img/popeyes.png" height="100%"></div>
                    <div><img src="/img/maddero.png" height="100%"></div>
                </div>
            </div>
        </div>
    </div>




</body>
<script src="/js/indexAntigo.js"></script>

</html>