<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/modal.css">
    <script src="../js/modal.js"></script>
    <title>Document</title>
</head>
<body>
    <button onclick="abrirModal()">abrir modal</button>

        
        <dialog id="dialog" class="tela_Dialog">
            
            
            <h2>Métricas</h2>
            <p>
                Aqui você pode ver os parêmetros usados para medir o estado do componente:
            
            </p>
            <button onclick="fechar()" >X</button>
        </dialog>


</body>
</html>