<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/telaLogin.css">
</head>

<body>
    <div class="telaLogin" id="divTelaLogin">
        <div class="navBar">

            <!--Versão Mobile-->
            <input type="checkbox" id="menu-btn" class="menuBtn">
            <label class="menu-btn" for="menu-btn"><span></span><span></span><span></span></label>


            <img src="/img/logo.png" width="86px">

            <!--Versão Desktop-->
            <ul class="itensNav">
                <li><a href="/">Home</a></li>
                <li><a href="/">Sobre Nós</a></li>
                <li><a href="/">Nossas soluções</a></li>
                <li><a href="/">Clientes</a></li>
                <li><a href="/cadastro">Cadastre-se </a></li>
            </ul>

            <div class="mensagem">BEM VINDO </div>
        </div>

        <div class="mensagemAlerta" id="mensagemAlerta">
        </div>


        <!--Versão Mobile-->
        <div class="itensNavMobile">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Sobre Nós</a></li>
                <li><a href="/">Nossas soluções</a></li>
                <li><a href="/">Clientes</a></li>
                <li><a href="/cadastro">Cadastre-se</a></li>
            </ul>
        </div>


        <!--Versão Android-->
        <div class="formAndroid" id="formAndroid">
            <div class="form">
                <h2>Email</h2>
                <input type="email" id="inputEmailA" placeholder=" Digite o seu email">
                <h2>Senha</h2>
                <input type="password" id="inputSenhaA" placeholder=" Digite sua senha">
                <div><button onclick="fazerLoginA()">LOGIN</button></div>
            </div>
            <p><i>-- ou -- </i><br><br>
                Ainda não possui uma conta?<br><br>
            </p>
            <a href="/cadastro"><i>Cadastre-se</i></a>
        </div>

        <!--Versão Desktop-->
        <div class="formDesktop" id="formDesktop">
            <div class="mensagemForm" id="mensagemForm">Bem Vindo</div>
            <div class="form">
                <h2>Email</h2>
                <input type="email" id="inputEmailD" placeholder=" Digite o seu email">
                <h2>Senha</h2>
                <input type="password" id="inputSenhaD" placeholder=" Digite sua senha">
                <div><button onclick="fazerLoginD()">LOGIN</button></div>
                <p><i>-- ou -- </i><br><br>
                    Ainda não possui uma conta?<br>
                    <a href="/cadastro"><i>Cadastre-se</i></a>
                </p>
            </div>
        </div>
    </div>
</body>
<script src="/js/telaLogin.js"></script>
</html>