<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
    <div class="telaLogin" id="divTelaLogin">
        <div class="navBar">

            <!--Versão Mobile-->
            <input type="checkbox" id="menu-btn" class="menuBtn">
            <label class="menu-btn" for="menu-btn"><span></span><span></span><span></span></label>


            <img src="../public/img/logo.png" width="86px">

            <!--Versão Desktop-->
            <ul class="itensNav">
                <li><a href="../views/index.html">Home</a></li>
                <li><a href="../views/index.html">Sobre Nós</a></li>
                <li><a href="../views/index.html">Nossas soluções</a></li>
                <li><a href="../views/index.html">Clientes</a></li>
                <li><a href="../views/index.html">Acionar Suporte</a></li>
            </ul>

            <div class="mensagem">BEM VINDO </div>
        </div>


        <!--Versão Mobile-->
        <div class="itensNavMobile">
            <ul>
                <li><a href="../views/index.html">Home</a></li>
                <li><a href="../views/index.html">Sobre Nós</a></li>
                <li><a href="../views/index.html">Nossas soluções</a></li>
                <li><a href="../views/index.html">Clientes</a></li>
                <li><a href="../views/index.html">Acionar Suporte</a></li>
            </ul>
        </div>


        <!--Versão Android-->
        <div class="formAndroid">
            <div class="form">
                <h2>Email</h2>
                <input type="text" id="inputEmail" placeholder=" Digite o seu email">
                <h2>Senha</h2>
                <input type="text" id="inputSenha" placeholder=" Digite sua senha">
                <div><button onclick="">LOGIN</button></div>
            </div>
            <p><i>-- ou -- </i><br><br>
                Ainda não possui uma conta?<br>
                <a href="#"><i>Cadastre-se</i></a>
            </p>
        </div>

        <!--Versão Desktop-->
        <div class="formDesktop">
            <div class="mensagemForm">Bem Vindo</div>
            <div class="form">
                <h2>Email</h2>
                <input type="text" id="inputEmail" placeholder=" Digite o seu email">
                <h2>Senha</h2>
                <input type="text" id="inputSenha" placeholder=" Digite sua senha">
                <div><button onclick="">LOGIN</button></div>
                <p><i>-- ou -- </i><br><br>
                    Ainda não possui uma conta?<br>
                    <a href="#"><i>Cadastre-se</i></a>
                </p>
            </div>
        </div>
    </div>
</body>
<script src="../public/js/index.js"></script>

</html>