* {
    padding: 0%;
    margin: 0%;
    box-shadow: none;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;

}

::-webkit-scrollbar-track {
    background-color: #888;
}


::-webkit-scrollbar {
    height: 0;
    width: 3px;
    margin-right: 1px;
    background-color: rgba(255, 255, 255, 3);
}


body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.menuLateral {
    width: 13%;
    height: 98vh;
    background-image: url(../../img/menu-fundo.png);
    background-size: cover;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    padding: 1% 1%;
    gap: 3vh;
}


.menuLateral .boxSoon {
    display: flex;
    background-color: #FFFFFF;
    color: black;
    width: 100%;
    height: fit-content;
    padding: 2% 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menuLateral .boxSoon img {
    width: 50%;
    margin: 0%;
    padding: 0%;
}

.menuLateral .boxSoon span {
    font-weight: 900;
    font-size: 120%;
}


.menuLateral .boxUser {
    width: 100%;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    color: #FFFFFF;
}

.menuLateral .boxUser .nameUser {
    font-size: 130%;
    text-align: center;
    width: 100%;
}

.menuLateral .boxUser .nameCompany {
    font-size: 90%;
    text-align: center;
    width: 100%;
}

.menuLateral .optionMenu {
    width: 98%;
    height: fit-content;
    gap: 3vh;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 5vh 0;
    list-style-type: none;
}

.menuLateral .optionMenu li {
    font-size: 100%;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    height: fit-content;
    list-style-type: none;
    cursor: pointer;
}

.menuLateral .optionMenu li a {
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
}

.menuLateral .optionMenu .estatisticas {
    width: 100%;
    background-color: #FFFFFF;
    padding: 3% 2%;
    border-radius: 5px;
    font-size: 100%;
}

.menuLateral .optionMenu .estatisticas a {
    color: black;
}

.menuLateral .boxExit {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 90%;
    padding: 5%;
    border-radius: 10px;
    cursor: pointer;
    justify-content: baseline;
    align-items: center;
    gap: 5%;
    position: relative;
    bottom: 1px;
}

.menuLateral .boxExit img {
    height: 4vh;
    margin-left: 2%;
    padding: 0;
}

.menuLateral .boxExit span {
    font-size: 130%;
    font-weight: 900;
}

.dashboard {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 3%;
}

.dashboard .title {
    padding: 0%;
    color: #0D4A7C;
    font-size: 250%;
    margin-top: 1%;
}

.dashboard .boxStatistics {
    width: 92%;
    height: 40vh;
    background-color: #88BBCC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.dashboard .boxStatistics .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
}

.dashboard .boxStatistics .left .chartLinha {
    width: 63%;
}

.inputData{
    border: none;
    border-radius: 5px ;
    padding: 1% 2%;
}

.dashboard .boxStatistics .right {
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 2px solid black;
}

.dashboard .boxStatistics .right p {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 110%;
}

.dashboard .boxStatistics .right ul {
    width: 92%;
    height: 90%;
    overflow: scroll;
    padding: 0 4%;
}

.dashboard .boxStatistics .right ul li {
    list-style-type: none;
    width: 100%;
    color: #FFFFFF;
    border-radius: 10px;
    height: fit-content;
    background-image: url(../../img/fundo_azul.png);
    background-size: cover;
    margin: 3% 0;
    text-align: center;
    font-size: 130%;
    font-weight: 700;
    cursor: pointer;
}

.dashboard .lineInterruptions {
    width: 92%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    gap: 5%;
}

.dashboard .lineInterruptions .boxInterruptions {
    background-color: #88BBCC;
    width: 75%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
}

.dashboard .lineInterruptions .boxInterruptions .left {
    width: 46%;
    height: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .lineInterruptions .boxInterruptions .left .chartPizza {
    width: 100%;
    height: auto;
}

.dashboard .lineInterruptions .boxInterruptions .right {
    width: 40%;
    height: 80%;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.dashboard .lineInterruptions .boxInterruptions .right h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
}

.dashboard .lineInterruptions .boxInterruptions .right .line {
    width: 100%;
    height: fit-content;
    padding: 1% 0;
    display: flex;
    justify-content: baseline;
    gap: 10%;
}

.dashboard .lineInterruptions .boxInterruptions .right .line span {
    font-size: 100%;
}

.dashboard .lineInterruptions .boxOptionsTotem {
    background-color: #88BBCC;
    border-radius: 15px;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard .lineInterruptions .boxOptionsTotem h3 {
    width: 100%;
    text-align: center;
}

.dashboard .lineInterruptions .boxOptionsTotem ul{
    width: 90%;
    height: 80%;
    overflow: scroll;
}

.dashboard .lineInterruptions .boxOptionsTotem ul li{
    list-style-type: none;
    width: 100%;
    color: #FFFFFF;
    border-radius: 10px;
    height: fit-content;
    background-image: url(../../img/fundo_azul.png);
    background-size: cover;
    margin: 3% 0;
    text-align: center; 
    font-size: 130%;
    font-weight: 600;  
    cursor: pointer;
}