* {
    padding: 0%;
    margin: 0%;
    box-shadow: none;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;

}

::-webkit-scrollbar-track {
    background-color: #888;
}


::-webkit-scrollbar {
    height: 0;
    width: 3px;
    margin-right: 1px;
    background-color: rgba(255, 255, 255, 3);
}


body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.menuLateral {
    width: 13%;
    height: 98vh;
    background-image: url(../../img/menu-fundo.png);
    background-size: cover;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    padding: 1% 1%;
    gap: 3vh;
}


.menuLateral .boxSoon {
    display: flex;
    background-color: #FFFFFF;
    color: black;
    width: 100%;
    height: fit-content;
    padding: 2% 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menuLateral .boxSoon img {
    width: 50%;
    margin: 0%;
    padding: 0%;
}

.menuLateral .boxSoon span {
    font-weight: 900;
    font-size: 120%;
}


.menuLateral .boxUser {
    width: 100%;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    color: #FFFFFF;
}

.menuLateral .boxUser .nameUser {
    font-size: 130%;
    text-align: center;
    width: 100%;
}

.menuLateral .boxUser .nameCompany {
    font-size: 90%;
    text-align: center;
    width: 100%;
}

.menuLateral .optionMenu {
    width: 98%;
    height: fit-content;
    gap: 3vh;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 5vh 0;
    list-style-type: none;
}

.menuLateral .optionMenu li {
    font-size: 100%;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    height: fit-content;
}

.menuLateral .optionMenu li a {
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
}

.menuLateral .optionMenu .gerenciar {
    width: 100%;
    background-color: #FFFFFF;
    padding: 3% 2%;
    border-radius: 5px;
    font-size: 100%;
}

.menuLateral .optionMenu .gerenciar a {
    color: black;
}

.menuLateral .boxExit {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 90%;
    padding: 5%;
    border-radius: 10px;
    cursor: pointer;
    justify-content: baseline;
    align-items: center;
    gap: 5%;
    position: relative;
    bottom: 1px;
}

.menuLateral .boxExit img {
    height: 4vh;
    margin-left: 2%;
    padding: 0;
}

.menuLateral .boxExit span {
    font-size: 130%;
    font-weight: 900;
}

.dashboard {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 3%;
}

.dashboard .title {
    padding: 0%;
    color: #0D4A7C;
    font-size: 250%;
    margin-top: 2%;
}

.dashboard .line {
    width: 87%;
    height: 8vh;
    margin: 0 3%;
    padding: 1% 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #88BBCC;
    gap: 10%;
    align-items: center;
    border-radius: 15px;
}

.dashboard .line span {
    font-size: 100%;
    font-weight: 500;
}

.dashboard .line button {
    background-image: url(../../img/fundo_azul.png);
    background-size: cover;
    color: #FFFFFF;
    border: none;
    padding: 1.5% 3%;
    border-radius: 20px;
    font-size: 100%;
    cursor: pointer;
    font-weight: 700;
}

.dashboard .line button:hover {
    background-color: #FFFFFF;
    color: #0d4a7c;
    font-weight: 600;
}

.dashboard .bigBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 94%;
    margin: 0 3%;
    height: 65vh;
}

.dashboard .bigBox .listTotem {
    width: 63%;
    height: 90%;
    background-color: #88BBCC;
    display: flex;
    flex-direction: column;
    overflow-X: hidden;
    gap: 3vh 0;
    padding: 2%;
    border-radius: 15px;
    transition: 1.1s;
}

.dashboard .bigBox .listTotem li {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(../../img/fundo_azul.png);
    background-size: cover;
    border-radius: 10PX;
    white-space: nowrap;
    min-height: 6vh;
    padding: 1% 5%;
}

.dashboard .bigBox .listTotem li p {
    font-size: 110%;
    color: #FFFFFF;
    font-weight: 700;
}

.dashboard .bigBox .listTotem span {
    margin: 0;
    gap: 0 2%;
    display: flex;
}

.dashboard .bigBox .listTotem span .imagemNivel1 {
    width: fit-content;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 250%;
    border: 1px solid #FFFFFF;
    height: fit-content;
    border-radius: 50%;
    padding: 0 80%;
}

.dashboard .bigBox .listTotem span .imagemNivel2 {
    height: 6vh;
    width: fit-content;
    cursor: pointer;
}

.dashboard .bigBox .boxTotal {
    width: 30%;
    height: 60%;
    background-color: #88BBCC;
    border-radius: 15px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 2%;
    flex-direction: column;
}

.dashboard .bigBox .boxTotal h1 {
    font-size: 200%;
    margin-top: 2%;
}

.dashboard .bigBox .boxTotal .circleFundo {
    width: 150px;
    height: 150px;
    background-image: url(../../img/menu-fundo.png);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 5%;
}

.dashboard .bigBox .boxTotal .circle {
    width: 140px;
    height: 140px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 350%;
    border-radius: 50%;
    font-weight: 700;
}

.dashboard .bigBox .boxTotal .spanTotal {
    font-size: 110%;
    width: 90%;
    text-align: left;
    padding: 0 5%;
}

.bigBoxAdd {
    width: 94%;
    padding: 0 3%;
    display: none;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
}

.bigBoxAdd .screenAdd {
    width: 80%;
    height: 65vh;
    background-color: #88BBCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-X: hidden;
    gap: 3vh 0;
    padding: 2%;
    border-radius: 15px;
    color: #FFFFFF;
    transition: 1.1s;
    white-space: nowrap;
}

.bigBoxAdd .screenAdd h3 {
    width: 98%;
    padding: 0 1%;
    text-align: center;
}

.bigBoxAdd .screenAdd p {
    width: 98%;
    padding: 0 1%;
    text-align: left;
    font-weight: 700;
    color: #0d4a7c;
}

.bigBoxAdd .screenAdd p input {
    border: none;
    background-color: #88BBCC;
    width: 40%;
    border-bottom: 2px solid #0d4a7c;
    color: #FFFFFF;
    padding: 0 1%;
}

.bigBoxAdd .screenAdd .listaDesempenho {
    width: 98%;
    padding: 1%;
    height: fit-content;
}

.bigBoxAdd .screenAdd .listaDesempenho li {
    list-style-type: none;
    font-size: 110%;
    font-weight: 500;
    margin: 1% 0;
    gap: 0 5%;
    width: 100%;
}

.bigBoxAdd .screenAdd .listaDesempenho li input {
    margin: 0 1%;
    padding: 0;
    border: 1px solid #0d4a7c;
    background-color: red;
}

.bigBoxAdd .screenAdd .listaDesempenho li .textoSpan {
    font-size: 100%;
    font-weight: 300;
    text-decoration: line-through;
    color: #c3c3c3;
}

.bigBoxAdd .screenAdd .listaDesempenho li .textoSpan.checked {
    text-decoration: none;
    color: #FFFFFF;
}

.bigBoxAdd .screenAdd button {
    background-color: #FFFFFF;
    color: #0d4a7c;
    width: fit-content;
    height: fit-content;
    padding: 1% 5%;
    border-radius: 15px;
    font-size: 120%;
    font-weight: 700;
    border: 2px solid #0d4a7c;
    cursor: pointer;
}

.bigBoxAdd .screenAdd button:hover {
    background-color: #0d4a7c;
    border: 2px solid #679BC5;
    color: #FFFFFF;
}


.bigBoxAdd .totemCasca {
    width: 30%;
    height: 60vh;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    border-radius: 10px;
}

.bigBoxAdd .totemCasca .telaTotem {
    width: 80%;
    height: 80%;
    background-color: #000000;
    margin: 9% 0 0 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.bigBoxAdd .totemCasca .telaTotem img {
    width: 100%;
    height: fit-content;
}

.bigBoxEdit {
    width: 94%;
    padding: 0 3%;
    display: none;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
}

.bigBoxEdit .screenEdit {
    width: 75%;
    height: 60vh;
    background-color: #88BBCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-X: hidden;
    gap: 3vh 0;
    padding: 2%;
    border-radius: 15px;
    color: hsl(0, 0%, 100%);
    transition: 1.1s;
    white-space: nowrap;
}

.bigBoxEdit .screenEdit h3 {
    width: 90%;
    padding: 0 5%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.bigBoxEdit .screenEdit h3 button {
    border: none;
    background-color: #88BBCC;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 100%;
}

.bigBoxEdit .screenEdit p {
    width: 98%;
    padding: 0 1%;
    text-align: left;
    font-weight: 700;
    color: #0d4a7c;
}

.bigBoxEdit .screenEdit p .spanTotem {
    border: none;
    background-color: #88BBCC;
    border-bottom: 2px solid #0d4a7c;
    color: #FFFFFF;
    padding: 0 5% 0 1%;
}

.bigBoxEdit .screenEdit p input {
    background-color: #88BBCC;
    color: #FFFFFF;
    padding: 0 1%;
    border: none;
    width: 40%;
    border-bottom: 2px solid #0d4a7c;
}

.bigBoxEdit .screenEdit p input::placeholder {
    color: #FFFFFF;
    padding: 0 1%;
}

.bigBoxEdit .screenEdit .listaDesempenho {
    width: 98%;
    padding: 1%;
    height: fit-content;
}

.bigBoxEdit .screenEdit .listaDesempenho li {
    list-style-type: none;
    font-size: 110%;
    font-weight: 500;
    margin: 1% 0;
    gap: 0 5%;
    width: 100%;
}

.bigBoxEdit .screenEdit .listaDesempenho li input {
    margin: 0 1%;
    padding: 0;
    border: 1px solid #0d4a7c;
    background-color: red;
}

.bigBoxEdit .screenEdit .listaDesempenho li .textoSpan {
    font-size: 100%;
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF;
}

.bigBoxEdit .screenEdit .line button {
    color: #FFFFFF;
    width: fit-content;
    height: fit-content;
    padding: 1% 5%;
    border-radius: 15px;
    font-size: 120%;
    font-weight: 700;
    cursor: pointer;
}

.bigBoxEdit .screenEdit .linha button:hover {
    background-color: #0d4a7c;
    border: 2px solid #679BC5;
    color: #FFFFFF;
}

.bigBoxEdit .totemCasca {
    width: 30%;
    height: 60vh;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    border-radius: 10px;
}

.bigBoxEdit .totemCasca .telaTotem {
    width: 80%;
    height: 80%;
    background-color: #000000;
    margin: 9% 0 0 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.bigBoxEdit .totemCasca .telaTotem img {
    width: 100%;
    height: fit-content;
}




.screenInfo {
    width: 80%;
    height: 60vh;
    background-color: #679BC5;
    display: none;
    flex-direction: column;
    align-items: center;
    overflow-X: hidden;
    gap: 3vh 0;
    padding: 2%;
    border-radius: 15px;
    color: hsl(0, 0%, 100%);
    transition: 1.1s;
    white-space: nowrap;
}

.screenInfo h3 {
    width: 90%;
    padding: 0 5%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.screenInfo h3 button {
    border: none;
    background-color: #679BC5;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 100%;
    cursor: pointer;
}

.screenInfo p {
    width: 98%;
    padding: 0 1%;
    text-align: left;
    font-weight: 700;
    color: #0d4a7c;
}

.screenInfo p .spanTotem {
    border: none;
    background-color: #679BC5;
    border-bottom: 2px solid #0d4a7c;
    color: #FFFFFF;
    padding: 0 5% 0 1%;
}

.screenInfo .listaDesempenho {
    width: 98%;
    padding: 1%;
    height: fit-content;
}

.screenInfo .listaDesempenho li {
    list-style-type: none;
    font-size: 110%;
    font-weight: 500;
    margin: 1% 0;
    gap: 0 5%;
    width: 100%;
}

.screenInfo .listaDesempenho li .textoSpan {
    font-size: 100%;
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF;
}

.alertMessage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    right: -100%;
    position: absolute;
    border: 2px solid #203FAB;
    background-color: rgba(0, 115, 207, 0.9);
    color: white;
    margin: 5% 0;
    padding: 1%;
    border-radius: 15px;
    align-items: center;
    gap: 1%;
    transition: 1s;
    opacity: 0;
    position: fixed;
    font-size: 90%;
}

.alertMessage .line {
    width: 94%;
    height: fit-content;
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 15%;
    background-color: transparent;
}

.alertMessage .line button {
    background-color: #203FAB;
    color: #FFFFFF;
    width: fit-content;
    height: fit-content;
    padding: 1% 4%;
}