* {
    padding: 0%;
    margin: 0%;
    box-shadow: none;
    /* position: relative; */
    font-family: "Poppins", sans-serif;
}

.telaPrincipal {
    background-color: #E3E3DD;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 100wh;
    height: 100vh;
}


/* navBar */
.navBar {
    /* background-color: aliceblue; */
    background-color: #E3E3DD;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #8EC0C0;
    color: #0d4a7c;
}

.navBar .btn-sair {
    background-color: #679BC5;
    /* background-color: #8EC0C0; */
    border: none;
    /* color: #000; */
    color: #0d4a7c;
    width: 10%;
    height: 60%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 12px 2px;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
}

.navBar .btn-sair:hover {
    background-color: #0d4a7c;
    color: #E3E3DD;
}

.navBar a {
    text-decoration: none;
    color: inherit;
}


.perfil {
    /* margin: 10px; */
    display: flex;
    justify-content: space-around;
    /* background-color: #637AA7; */
    width: 10%;
    /* color: #203FAB;   */
}

.dashboard {
    width: 100%;
    height: 85%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: rgb(11, 40, 40); */
    background-color: #E3E3DD;

}


/* menu de navegação */
.dashboard .menu-lateral {
    /* background-color: blue; */
    /* background-color: #E3E3DD;  */
    background-color: #D3D1D1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 10px; */
    align-items: center;
    /* border-right: 2px solid #8EC0C0; */
    /* gap: 30px; */
    /* color: #f2f2f2; */
}

.menu {
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    color: #000;
}

.menu a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #0d4a7c;
}

.menu a:hover {
    /* background-color: #0d4a7c;  */
    color: #0d4a7c;
}

.telaHistorico {
    /* background-color: antiquewhite; */
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telaHistorico button {
    background-color: #679BC5;
    color: #0d4a7c;
    width: 20%;
    border-radius: 5px;
    appearance: none;
    border: none;
    cursor: pointer;
}

.telaHistorico button:hover {
    background-color: #0d4a7c;
    color: #E3E3DD;
}

.filtros-historico {
    width: 100%;
    height: 20%;
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#selecao-filtro {
    background-color: #0d4a7c;
    color: #E3E3DD;
}


.tabela-historico {
    /* background-color: aliceblue; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* legenda da tabela histórico */
.legenda {
    margin-top: 10px;
    font-size: 14px;
    height: 15%;
}

.legenda span {
    display: inline-block;
    margin-right: 20px;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
}

.legenda .cpu {
    background-color: #D6618F;
}

.legenda .ram {
    background-color: #F1931B; 
}

.legenda .disco {
    background-color: #888C46; 
}

.legenda .rede {
    background-color: #BD4E46; 
}


/* tabela historico */
.tabela-historico table {
    border-collapse: collapse;
    width: 90%;
    height: 50%;
    /* background-color: #679BC5; */
}

.tabela-historico th,
td {
    border: 1px solid #0d4a7c;
    background-color: #fff;
    /* padding: 8px; */
    text-align: center;
}

.tabela-historico th {
    background-color: #0d4a7c;
    color: #E3E3DD;
}

.tabela-historico table .cpu {
    background-color: #D6618F;
}

.tabela-historico table .ram {
    background-color: #F1931B;
}

.tabela-historico table .disco {
    background-color: #888C46;
}

.tabela-historico table .rede {
    background-color: #BD4E46;
}

#modal-relatorio {
    width: 35%;
    height: 30vh;
    display: none;
    position: absolute;
    z-index: 10;
    top: 40vh;
    left: 64%;
    border: 1px solid #0d4a7c;
    border-radius: 5px;
}

#modal {
    width: 100%;
    height: 60vh;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    align-items: center;

}

#modal .btn-pdf {
    margin: 0 0 10vh 0;
}

.relatorio {
    width: 100%;
    height: 30vh;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.relatorio-data {
    width: 50%;
    height: 30vh;
    padding: 0 3%;
    display: flex;
    margin: 2% 0;
    gap: 10px;
    justify-content: space-between;
}

.fechar-modal{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.fechar-modal .btn-fechar {
    font-size: 110%;
    font-weight: 700;
    width: fit-content;
    height: fit-content;
    padding: 1% 2%;

}

.fechar-modal button:hover{
    background-color: #BD4E46;
}

