* {
    padding: 0%;
    margin: 0%;
    box-shadow: none;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}


::-webkit-scrollbar {
    height: 0;
    width: 3px;
    margin-right: 1px;
    background-color: rgba(255, 255, 255, 3);
}


body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.menuLateral {
    width: 13%;
    height: 98vh;
    background-image: url(../../img/menu-fundo.png);
    background-size: cover;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    padding: 1% 1%;
    gap: 3vh;
}


.menuLateral .boxSoon {
    display: flex;
    background-color: #FFFFFF;
    color: black;
    width: 100%;
    height: fit-content;
    padding: 2% 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menuLateral .boxSoon img {
    width: 50%;
    margin: 0%;
    padding: 0%;
}

.menuLateral .boxSoon span {
    font-weight: 900;
    font-size: 120%;
}


.menuLateral .boxUser {
    width: 100%;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    color: #FFFFFF;
}

.menuLateral .boxUser .nameUser {
    font-size: 130%;
    text-align: center;
    width: 100%;
}

.menuLateral .boxUser .nameCompany {
    font-size: 90%;
    text-align: center;
    width: 100%;
}

.menuLateral .optionMenu {
    width: 98%;
    height: fit-content;
    gap: 3vh;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 5vh 0;
    list-style-type: none;
}

.menuLateral .optionMenu li {
    font-size: 100%;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    height: fit-content;
}

.menuLateral .optionMenu li a {
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
}

.menuLateral .optionMenu .totens {
    width: 100%;
    background-color: #FFFFFF;
    padding: 3% 2%;
    border-radius: 5px;
    font-size: 100%;
}

.menuLateral .optionMenu .totens a {
    color: black;
}

.menuLateral .boxExit {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 90%;
    padding: 5%;
    border-radius: 10px;
    cursor: pointer;
    justify-content: baseline;
    align-items: center;
    gap: 5%;
    position: relative;
    bottom: 1px;
}

.menuLateral .boxExit img {
    height: 4vh;
    margin-left: 2%;
    padding: 0;
}

.menuLateral .boxExit span {
    font-size: 130%;
    font-weight: 900;
}

.dashboard {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.dashboard .boxTotalTotem {
    position: absolute;
    background-color: #FFFFFF;
    width: 70%;
    height: 80vh;
    top: 10vh;
    border: 2px solid #000000;
    display: none;
    flex-direction: column;
    border-radius: 5px;
}

.dashboard .boxTotalTotem .line {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0.5% 2%;
    width: 96%;
    align-items: center;
}

.dashboard .boxTotalTotem .line button {
    border: 0;
    font-size: 160%;
    background-color: #FFFFFF;
    font-weight: 700;
}

.dashboard .boxTotalTotem h2 {
    width: 100%;
    text-align: center;
    margin: 0%;
    padding: 0%;
    background-image: url(../../img/fundo_azul.png);
    background-size: cover;
    color: transparent;
    background-clip: text;
    font-size: 200%;
}

.dashboard .boxTotalTotem .boxListTotalTotem {
    width: 96%;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
}

.dashboard .boxTotalTotem .boxListTotalTotem .lineTotem {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    width: 96%;
    padding: 1% 2%;
    height: 30vh;
    align-items: center;
    gap: 10px;
}

.dashboard .boxTotalTotem .boxListTotalTotem .lineTotem .totemVerde {
    width: 22%;
    height: 90%;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    border-left: 8px solid green;
}

.dashboard .boxTotalTotem .boxListTotalTotem .lineTotem .totemAmarelo {
    width: 22%;
    height: 90%;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard .boxTotalTotem .boxListTotalTotem .lineTotem .totemAmarelo .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
}

.dashboard .boxTotalTotem .boxListTotalTotem .lineTotem .totemVermelho {
    width: 22%;
    height: 90%;
    border-radius: 10px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    border-left: 8px solid red;
}

.dashboard .boxTotalTotem .boxListTotalTotem .lineTotem div img {
    height: 70%;
}

.dashboard .boxTotalTotem .boxListTotalTotem .lineTotem div span {
    font-size: 110%;
    font-weight: 700;
}

.dashboard .lineTotens {
    width: 92%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: baseline;
    align-items: center;
    padding: 0 4%;
    gap: 5%;
    white-space: nowrap;
}

.dashboard .lineTotens .totem {
    height: 16vh;
    width: 140px;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    flex-shrink: 0;
    cursor: pointer;
}

.dashboard .lineTotens .totemVerde {
    height: 16vh;
    width: 140px;
    background-color: #D9D9D9;
    border-left: 10px solid green;
    border-radius: 10px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    flex-shrink: 0;
    cursor: pointer;
}


.dashboard .lineTotens .totemAmarelo {
    height: 16vh;
    width: 140px;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    flex-shrink: 0;
    cursor: pointer;
}

.dashboard .lineTotens .totemAmarelo .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
}


.dashboard .lineTotens .totemVermelho {
    height: 16vh;
    width: 140px;
    background-color: #D9D9D9;
    border-left: 10px solid red;
    border-radius: 10px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    flex-shrink: 0;
    cursor: pointer;
}

.dashboard .lineTotens div img {
    height: 8vh;
}

.dashboard .lineTotens div span {
    font-size: 90%;
    font-weight: 700;
}

.dashboard .tituloTotem {
    color: #0B3EA1;
}

.dashboard .boxComponent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    gap: 5%;
    overflow-x: scroll;
    padding: 0 3%;
}


.dashboard .boxComponent .boxCpu {
    width: fit-content;
    padding: 1% 2%;
    border-radius: 20px;
    background-color: rgba(135, 206, 250, 1);
    color: #000000;
    font-size: 100%;
    font-weight: 700;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.boxAtualCircle {
    width: 20px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
}

.dashboard .boxComponent .boxDisco {
    width: fit-content;
    padding: 1% 2%;
    border-radius: 20px;
    background-color: rgba(100, 149, 237, 1);
    color: #000000;
    font-size: 100%;
    font-weight: 700;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.dashboard .boxComponent .boxMemoria {
    width: fit-content;
    padding: 1% 2%;
    border-radius: 20px;
    background-color: rgba(30, 144, 255, 1);
    color: #000000;
    font-size: 100%;
    font-weight: 700;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.dashboard .boxComponent .boxRede {
    width: fit-content;
    padding: 1% 2%;
    border-radius: 20px;
    background-color: rgba(135, 164, 214, 1);
    color: #000000;
    font-size: 100%;
    font-weight: 700;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.dashboard .boxComponent div {
    gap: 0.5%;
}

.dashboard .boxComponent div img {
    height: 8vh;
}

.dashboard .boxComponent div .duvida {
    margin-left: 1%;
    height: 4vh;
    width: auto;
    z-index: 500;
}

.dashboard .boxGlobal {
    height: 70vh;
    width: 94%;
    display: flex;
    flex-direction: row;
    padding: 0 3%;
    justify-content: baseline;
    align-items: center;
}

.dashboard .boxGlobal .boxLeftCpu {
    width: 50%;
    height: fit-content;
    background-color: rgba(136, 187, 204, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
}

.dashboard .boxGlobal .boxLeftCpu .line {
    width: 100%;
    height: fit-content;
    padding: 2% 0;
    font-size: 90%;
    font-weight: 700;
}

.dashboard .boxGlobal .boxLeftCpu canvas {
    width: 100%;
}

.dashboard .boxGlobal .boxLeftCpu .microBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    font-size: 90%;
    padding: 2% 0;
    gap: 4%;
}

.dashboard .boxGlobal .boxLeftCpu .microBox .localChart {
    display: block;
}

.dashboard .boxGlobal .boxRight {
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 1%;
    margin: 0% 0 0% 3%;
    background-color: rgba(136, 187, 204, 1);
    border-radius: 20px;
    overflow-y: scroll;
}

.dashboard .boxGlobal .boxRight::-webkit-scrollbar {
    width: 0px;
}

.dashboard .boxGlobal .boxRight .lineButton {
    width: 94%;
    padding: 0 3%;
    margin-top: 3%;
    font-weight: 600;
    gap: 5%;
    display: flex;
    align-items: center;
}

.dashboard .boxGlobal .boxRight .lineButton button {
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 100%;
    transition: 1s;
}

.dashboard .boxGlobal .boxRight .lineButton .escolhido{
    color: black;
    border-bottom: 5px solid #0B3EA1;
    padding: 0 2%;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    transition: 1s;
  }

.dashboard .boxGlobal .boxRight .line {
    width: 94%;
    padding: 0 3%;
    margin-top: 3%;
    font-weight: 600;
    gap: 2%;
    display: flex;
    align-items: center;
}

.dashboard .boxGlobal .boxRight .line .circuleGreen {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
}

.dashboard .boxGlobal .boxRight .line .circuleYellow {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: yellow;
}

.dashboard .boxGlobal .boxRight .line .circuleRed {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}

.dashboard .boxGlobal .boxRight .descricao {
    width: 94%;
    padding: 0 3% 5% 3%;
    text-align: left;
    border-bottom: 1px solid #000000;
    font-size: 90%;
}

.dashboard .boxGlobal .boxRight .boxInterrupcoes{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 2% 5%;
    align-items: baseline;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.dashboard .boxGlobal .boxRight .boxInterrupcoes .line{
    text-align: center;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.boxAtualInterrupcoesCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

.dashboard .boxGlobal .boxRight .detalheMensagem{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 2%;
}

.dashboard .boxGlobal .boxRight .detalheMensagem button{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 1%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard .boxGlobal .boxRight .detalheMensagem .escolhido{
    background-color: rgba(255, 255, 255, 1);
    font-weight: 600;
    color: #0B3EA1;
    border: 1px solid #000000;
    font-size: 100%;
}

.dashboard .boxGlobal .boxRight .legendaInterrupcoes{
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.alertMessage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    right: -100%;
    position: absolute;
    border: 2px solid #203FAB;
    background-color: rgba(0, 115, 207, 0.9);
    color: white;
    margin: 5% 0;
    padding: 1%;
    border-radius: 15px;
    align-items: center;
    gap: 1%;
    transition: 1s;
    opacity: 0;
    position: fixed;
    font-size: 90%;
}
