* {
    padding: 0%;
    margin: 0%;
    box-shadow: none;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}


::-webkit-scrollbar {
    height: 0;
    width: 3px;
    margin-right: 1px;
    background-color: rgba(255, 255, 255, 3);
}


body{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.menuLateral{
    width: 13%;
    height: 98vh;
    background-image: url(../../img/menu-fundo.png);
    background-size: cover;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    padding: 1% 1%;
    gap: 3vh;
}


.menuLateral .boxSoon{
   display: flex;
   background-color: #FFFFFF;
   color: black;
   width: 100%;
   height: fit-content;
   padding: 2% 0; 
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.menuLateral .boxSoon img{
    width: 50%;
    margin: 0%;
    padding: 0% ;
}

.menuLateral .boxSoon span{
    font-weight: 900 ;
    font-size: 120%;
}


.menuLateral .boxUser{
    width: 100%;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    color: #FFFFFF;
}

.menuLateral .boxUser .nameUser{
    font-size: 130%;
    text-align: center;
    width: 100%;
}

.menuLateral .boxUser .nameCompany{
    font-size: 90%;
    text-align: center;
    width: 100%;
}

.menuLateral .optionMenu{
    width: 98%;
    height: fit-content;
    gap: 3vh;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 5vh 0;
    list-style-type: none;
}

.menuLateral .optionMenu li{
    font-size: 100%;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    height: fit-content;
}   

.menuLateral .optionMenu li a{
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
}

.menuLateral .optionMenu .totens{
    width: 100%;
    background-color: #FFFFFF;
    padding: 3% 2%;
    border-radius: 5px;
    font-size: 100%;
}

.menuLateral .optionMenu .totens a{
    color: black;
}

.menuLateral .boxExit{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 90%;
    padding: 5%;
    border-radius: 10px;
    cursor: pointer;
    justify-content: baseline;
    align-items: center;
    gap: 5%;
    position: relative;
    bottom: 1px;
}

.menuLateral .boxExit img{
    height: 4vh;
    margin-left: 2%;
    padding: 0;
}

.menuLateral .boxExit span{
    font-size: 130%;
    font-weight: 900;
}

.dashboard{
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.dashboard .lineTotens{
    width: 92%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: baseline;
    align-items: center;
    padding: 0 4%;
    gap: 5%;
    white-space: nowrap;
}

.dashboard .lineTotens .totem{
    height: 16vh;
    width: 140px;
    background-color: #D9D9D9;
    border-left: 10px solid green;
    border-radius: 10px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
    flex-shrink: 0;
    cursor: pointer;
}

.dashboard .lineTotens .totem img{
    height: 8vh;
}

.dashboard .lineTotens .totem span{
    font-size: 90%;
    font-weight: 700;
}

.dashboard .tituloTotem{
    color: #0B3EA1;
}

.dashboard .boxGlobal{
    height: 70vh;
    width: 94%;
    display: flex;
    flex-direction: row;
    padding: 0 3%;
    justify-content: baseline;
    align-items: center;
}

.dashboard .boxGlobal .boxLeftCpu{
    width: 50%;
    height: fit-content;
    background-color: rgba(136, 187, 204, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
}

.dashboard .boxGlobal .boxLeftCpu .line{
    width: 100%;
    height: fit-content;
    padding: 2% 0;
    font-size: 90%;
    font-weight: 700;
}

.dashboard .boxGlobal .boxLeftCpu canvas{
    width: 100%;
}

.dashboard .boxGlobal .boxLeftCpu .microBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    font-size: 90%;
    padding: 2% 0;
    gap: 4%;
}

.dashboard .boxGlobal .boxLeftCpu .microBox .localChart{
    display: block;
}

.dashboard .boxGlobal .boxRight{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 0% 0 0% 5%;
}

.dashboard .boxGlobal .boxRight .boxCpu{
    width: 96%;
    padding: 1% 2%;
    border-radius: 10px;
    background-color:  rgba(136, 187, 204, 1);
    color: #000000;
    font-size: 100%;
    font-weight: 700;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
    gap: 2%;
    cursor: pointer;
}

.dashboard .boxGlobal .boxRight .boxDisco{
    width: 96%;
    padding: 1% 2%;
    border-radius: 10px;
    background-color:  rgba(117, 199, 126, 1);
    color: #000000;
    font-size: 100%;
    font-weight: 700;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;    
    gap: 2%;
    cursor: pointer;
}

.dashboard .boxGlobal .boxRight .boxMemoria{
    width: 96%;
    padding: 1% 2%;
    border-radius: 10px;
    background-color:  rgba(245, 199, 126, 1);
    color: #000000;
    font-size: 100%;
    font-weight: 700;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;    
    gap: 2%;
    cursor: pointer;
}

.dashboard .boxGlobal .boxRight .boxRede{
    width: 96%;
    padding: 1% 2%;
    border-radius: 5px;
    background-color:  rgba(131, 74, 161, 0.8);
    color: #000000;
    font-size: 100%;
    font-weight: 700;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;    
    gap: 2%;
    cursor: pointer;
}

.dashboard .boxGlobal .boxRight div img{
    height: 10vh;
}

