<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | TotemTech</title>
    <link rel="stylesheet" href="../../../public/css/dashboard/novo/historico.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="../img/logo.png" type="image/png">
</head>

<body>
    <div class="telaPrincipal" id="divTelaPrincipal">

        <div class="navBar">
            <div class="perfil">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
                <!-- <img src="/assets/dashboard/user-solid.svg" alt="" style="width: 35px;"> -->
                <p>Olá, Nome</p>
            </div>

            <a href="/dashboard"><img src="/img/logo.png" width="75px"></a>

            <button class="btn-sair" id="btn_sair">Sair</button>
        </div>

        <div class="dashboard">
            <div class="menu-lateral">

                <ul class="menu">
                    <li>
                        <a href="/dashboard">Totens</a>
                    </li>
                    <li>
                        <a href="/dashboard/gerenciarT">Gerenciar Totens</a>
                    </li>
                    <li>
                        <a href="/dashboard/historico">Histórico</a>
                    </li>
                    <li>
                        <a href="/dashboard/estatisticas">Estatísticas</a>
                    </li>
                </ul>

            </div>

            <div class="telaHistorico">
                <b>Histórico</b>

                <div class="filtros-historico">
                    <!-- <select name="selecao-filtro" id="selecao-filtro" onchange="filtrarTotens()">
                        <option value="totens">Todos os totens</option>
                        <option value="totem1">Totem 1</option>
                        <option value="totem2">Totem 2</option>
                        <option value="totem3">Totem 3</option>
                        <option value="totem4">Totem 4</option>
                    </select> -->

                    <div class="calendario">
                        <label for="data">Selecione uma data:</label>
                        <input type="date" id="data" name="data">
                        <button onclick="filtrarDados()">Filtrar</button>
                    </div>

                    <button onclick="abrirModal()">Gerar relatório</button>

                    <dialog id="modal-relatorio">
                        <div id="modal">
                            <div class="fechar-modal" id="button-fechar">
                                <button class="btn-fechar" onclick="fecharModal()">X</button>
                            </div>

                            <div class="relatorio">
                                <p>Selecione um ou mais dias para o relatório:</p>

                                <div class="relatorio-data">
                                    <label for="data-inicio">Início:</label>
                                    <input type="date" id="data-inicio" name="data">
                                </div>

                                <div class="relatorio-data">
                                    <label for="data-fim">Fim:</label>
                                    <input type="date" id="data-fim" name="data">
                                </div>

                                <button class="btn-pdf" onclick="gerarPDF()">Gerar PDF</button>
                            </div>
                        </div>
                    </dialog>
                </div>

                <div class="tabela-historico">
                    <div class="tabela-legenda">
                        <div class="tabelaInterrupcoes">

                            <div class="legenda">
                                <span class="interrupcoes">Interrupções</span>
                            </div>
                            <div class="tabela">

                                <table>
                                    <thead>
                                        <tr>
                                            <th class="interrupcoes">Totem</th>
                                            <th class="interrupcoes">Horario</th>
                                            <th class="interrupcoes">Motivo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Totem 1</td>
                                            <td>2024-04-21 09:30:00</td>
                                            <td>CPU</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <!-- <div class="legenda"> -->
                            <!-- <span class="interrupcoes">Interrupções</span> -->
                            <!-- <span class="cpu">CPU</span>
                                <span class="memoria">RAM</span>
                                <span class="disco">Disco</span>
                                <span class="rede">Rede</span>
                            </div>  -->
                        </div>

                        <div></div>


                    </div>




                    <div class="tabelas">
                        <div class="filtro-legenda">
                            <select name="selecao-filtro" id="selecao-filtro" onchange="filtrarTotens()">
                                <option value="totens">Selecionar</option>
                                <option value="totem1">Totens reiniciados</option>
                                <option value="totem1">Totens não reiniciados</option>
                            </select>

                            <div class="legenda">
                                <!-- <span class="interrupcoes">Interrupções</span> -->
                                <span class="cpu">CPU</span>
                                <span class="memoria">RAM</span>
                                <span class="disco">Disco</span>
                                <span class="rede">Rede</span>
                            </div>
                        </div>


                        <div class="tabelas-componentes">
                            <div class="tabela-componenteC">
                                <table id="tabela-cpu">
                                    <thead>
                                        <tr>
                                            <th class="cpu">Totem</th>
                                            <th class="cpu">Horário</th>
                                            <th class="cpu">Utilização</th>
                                            <th class="cpu">Velocidade</th>
                                            <th class="cpu">Processos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Totem 1</td>
                                            <td>2024-04-21 09:30:00</td>
                                            <td>50%</td>
                                            <td>3.2 GHz</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>Totem 2</td>
                                            <td>2024-04-21 10:45:00</td>
                                            <td>30%</td>
                                            <td>2.8 GHz</td>
                                            <td>8</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tabela-componente">
                                <table id="tabela-memoria">
                                    <thead>
                                        <tr>
                                            <th class="memoria">Totem</th>
                                            <th class="memoria">Horário</th>
                                            <th class="memoria">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Totem 1</td>
                                            <td>2024-04-21 09:30:00</td>
                                            <td>8.0 GB</td>
                                        </tr>
                                        <tr>
                                            <td>Totem 2</td>
                                            <td>2024-04-21 10:45:00</td>
                                            <td>4.0 GB</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tabela-componente">
                                <table id="tabela-disco">
                                    <thead>
                                        <tr>
                                            <th class="disco">Totem</th>
                                            <th class="disco">Horário</th>
                                            <th class="disco">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Totem 1</td>
                                            <td>2024-04-21 09:30:00</td>
                                            <td>256.0 GB</td>
                                        </tr>
                                        <tr>
                                            <td>Totem 2</td>
                                            <td>2024-04-21 10:45:00</td>
                                            <td>512.0 GB</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tabela-componenteR">
                                <table id="tabela-rede">
                                    <thead>
                                        <tr>
                                            <th class="rede">Totem</th>
                                            <th class="rede">Horário</th>
                                            <th class="rede">Upload</th>
                                            <th class="rede">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Totem 1</td>
                                            <td>2024-04-21 09:30:00</td>
                                            <td>50 Mbps</td>
                                            <td>100 Mbps</td>
                                        </tr>
                                        <tr>
                                            <td>Totem 2</td>
                                            <td>2024-04-21 10:45:00</td>
                                            <td>40 Mbps</td>
                                            <td>80 Mbps</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>

</body>

<script src="/js/dashboard/historico.js"></script>

</html>